@use '/src/styles/constants';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  .imageSlider {
    display: flex;
    align-items: center;
    position: relative;
    
    height: 550px;
    overflow: hidden;
    width: 100vw;

    .title {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      color: #FFF;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      text-shadow: 2px 2px 5px rgba(black, 0.5);
      z-index: 10;
      transition: all 0.3s ease;
    }

    .button {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      background-color: constants.$terciary-color;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
      z-index: 10;
      padding: 15px 20px;
      width: max-content;
      border-radius: 5px;
      color: #FFF;
      font-weight: 700;
      font-size: 1rem;
      text-shadow: 2px 2px 5px rgba(black, 0.5);

    }
  
    .image {
      position: absolute; 
      height: 400px;
      width: 250px;
      background-color: antiquewhite;
      transition: all 0.3s ease;

      &:not(.image3) {
        .button {
          font-size: 0.7rem;
          padding: 11.25px 15px;
        }
        .title {
          font-size: 1.2rem;
        }
      }
    }
    .image0 {
      left: 50vw;
      transform: translateX(-420%);
    }
    .image1 {
      left: 50vw;
      transform: translateX(-320%);
    }
    .image2 {
      left: 50vw;
      transform: translateX(-200%);
    }
    .image3 {
      left: 50%;
      transform: translateX(-50%);
      height: 520px;
      width: 325px;

      .button:hover {
        background-color: constants.$primary-color;
      } 
    }
    .image4 {
      left: 50vw;
      transform: translateX(100%);
    }
    .image5 {
      left: 50vw;
      transform: translateX(220%);
    }
    .image6 {
      left: 50vw;
      transform: translateX(320%);
    }
  }
  
  .arrowsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
  
    .leftArrow {
      margin-right: 50px;
    }
  
  }
}
