@use '/src/styles/constants';
//$custom_image_space: calc(100vh - 243px);

.navbar {
  position: relative;

  &>div {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    color: #FFFFFF;
    transition: all 300ms ease;
    align-items: center;
    // width: 100%;
  }

  .logo {
    width: 218px;
    height: auto;
    transition: all 300ms ease;
  }
  // This is a style that will be applied to
  // only if on the "/contact" route
  .logoContact {
    width: 130px;
    height: auto;
  }

  @media (max-width: constants.$md) {
    .logo {
      width: 160px;
      height: auto;
    }
  }

  @media (max-width: constants.$sm) {
    .logo {
      width: 130px;
      height: auto;
    }
  }
}

.navbarContact {
  &>div {
    background-color: constants.$primary-color;
    padding: 10px 30px;

  }
}

.links {
  margin: 47px 8vw auto auto;
  width: 60vw;
  font-weight: 500;
  display: flex;
  justify-content: space-between;

  li {
    font-size: 1rem;
    transition: all 0.2s ease;

    &:hover {
      font-size: 1.2rem;
    }

    &:active {
      font-size: 1.2rem;
    }

    @media (max-width: constants.$md) {
      & {
        font-size: 0.7rem;
      }

      &:hover {
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: constants.$sm) {
    & {
      display: none;
    }
  }
}

.hamMenu {
  position: absolute;
  height: 55px;
  top: 5%;
  right: 5%;
  color: constants.$secondary-color;
  background-color: constants.$primary-color;
  border-radius: 5px;
  z-index: 12;

  .hamIcon {
    font-size: 40px;
  }
}