$custom_image_space: calc(100vh - 243px);
$text_margin_top: 25vh;


.hero {
  background-color: transparent;
  background: linear-gradient(0deg, #3F4C67BB, #3F4C67CC), url('hero-image-homepage.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  .title {
    margin-top: $text_margin_top;
    color: #FFF;
    font-size: 5rem;
    vertical-align: middle;
    max-width: 1200px;
  }
  
  .cta {
    all: unset;
    color: #FFF;
    background-color:#FFBF00;
    font-weight: 600;
    margin-top: 14vh;
    padding: 18px 30px;
    border-radius: 14px;
    transition: border-radius 0.3s ease, background-color 0.3s ease;

    &:hover {
      border-radius: 14px 0px 14px 0px; 
      background-color:#926f0e;
    }

  }
}

.aboutUs {
  height: 100vh;
  display: flex;

  .aboutDescription {
    padding: 68px 55px;
    max-width: 48vw;
    margin-right: 8vw;

    .sectionTitle {
      margin-bottom: 85px;
    }

    p {
      font-weight: 300;
      font-size: 1.25rem;
      line-height: 36px;
      margin-bottom: 20px;
    }
  }

  .aboutImages {
    width: 100%;
    height: 100%;
    background: url("./about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.services {
  height: 100vh;
  background-color: #3F4C67;

  .sectionTitle {
    padding: 68px 55px;
    color: #5E6575;
  }
}

.contactUs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFBF00;
  color: #C79500;
  height: 20vh;
  padding: 0px 100px 0 50px;
  
  h2 {
    vertical-align: center;
    font-size: 3.5rem;
    margin-right: 5vw;
  }

  button {
    color: #FFBF00;
    background-color: #FFF;
    border-radius: 14px;
    padding: 18px 30px;
    font-weight: 700;
    transition: all 0.3s ease;

    &:hover {
      background-color: #FFBF00;
      color: #FFF;
    }
  }
}


.sectionTitle {
  font-size: 5.625rem;
  color: #3F4C6733;
}