@use '/src/styles/constants';

.label {
  color: constants.$primary-color;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .input {
    font-weight: 300 !important;
    all: unset;
    border: 2px solid constants.$primary-color;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    cursor: text;
  }

  .input:focus {
    border: 2px solid constants.$terciary-color;
  }

  .textarea {
    height: 100px;
  }

}